---
title: About
---
<section class="about">
	<h3>Catchy Title</h3>
	<p>
		Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt.
	</p>
	<p>
		Nulla porttitor accumsan tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
	</p>
	<p>
		Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
	</p>
</section>

<section class="skills">
	<h3>Skills</h3>
	<div class="flex">
		<div class="col-xs-12 col-sm-4">
			{{>skills-list
				title="UX Research"
				skill-01="Interviewing"
				skill-02="Observing"
				skill-03="Surveying"
				skill-04="Persona Creation"
				skill-05="Presenting Findings"
				skill-06=""
				skill-07=""
				skill-08=""
				skill-09=""
				skill-10=""
			}}
		</div>
		<div class="col-xs-12 col-sm-4">
			{{>skills-list
				title="UI Design"
				skill-01="Sketching"
				skill-02="Wireframing"
				skill-03="Prototyping"
				skill-04="Collaboration"
				skill-05="Style Guides"
				skill-06="Specifications"
				skill-07=""
				skill-08=""
				skill-09=""
				skill-10=""
			}}
		</div>
		<div class="col-xs-12 col-sm-4">
			{{>skills-list
				title="Web Development"
				skill-01="Responsive Design"
				skill-02="Troubleshooting"
				skill-03="Modifying Existing Code"
				skill-04="QA Testing"
				skill-05=""
				skill-06=""
				skill-07=""
				skill-08=""
				skill-09=""
				skill-10=""
			}}
		</div>
	</div>
</section>
<section class="tools">
	<h3>Tools</h3>
	<div class="flex flex-justify-content-center">
		<span>Axure</span>
		<span>Sketch</span>
		<span>Adobe XD</span>
		<span>Flinto</span>
		<span>Sublime 3</span>
		<span>Adobe Creative Suite</span>
		<span>Microsoft Office</span>
		<span>SharePoint Designer</span>
	</div>
</section>