---
title: About
---
<section class="skills">
	<h3>Skills</h3>
	<div class="flex">
		<div class="col-xs-12 col-sm-2 col-md-3">
			{{>skills-list
				title="Research"
				skill-01="___________"
				skill-02="___________"
				skill-03="___________"
				skill-04="___________"
				skill-05="___________"
				skill-06="___________"
				skill-07="___________"
				skill-08="___________"
				skill-09="___________"
				skill-10="___________"
			}}
		</div>
		<div class="col-xs-12 col-sm-2 col-md-3">
			{{>skills-list
				title="Analysis"
				skill-01="___________"
				skill-02="___________"
				skill-03="___________"
				skill-04="___________"
				skill-05="___________"
				skill-06="___________"
				skill-07="___________"
				skill-08="___________"
				skill-09="___________"
				skill-10="___________"
			}}
		</div>
		<div class="col-xs-12 col-sm-2 col-md-3">
			{{>skills-list
				title="Design"
				skill-01="___________"
				skill-02="___________"
				skill-03="___________"
				skill-04="___________"
				skill-05="___________"
				skill-06="___________"
				skill-07="___________"
				skill-08="___________"
				skill-09="___________"
				skill-10="___________"
			}}
		</div>
		<div class="col-xs-12 col-sm-2 col-md-3">
			{{>skills-list
				title="Delivery"
				skill-01="___________"
				skill-02="___________"
				skill-03="___________"
				skill-04="___________"
				skill-05="___________"
				skill-06="___________"
				skill-07="___________"
				skill-08="___________"
				skill-09="___________"
				skill-10="___________"
			}}
		</div>
	</div>
</section>
<section class="tools">
	<h3>Tools</h3>
	<div class="flex flex-justify-content-center">
		<span>Axure</span>
		<span>&bullet;</span>
		<span>Adobe XD</span>
		<span>&bullet;</span>
		<span>Sketch</span>
		<span>&bullet;</span>
		<span>Flinto</span>
		<span>&bullet;</span>
		<span>HTML/CSS</span>
		<span>&bullet;</span>
		<span>Illustrator</span>
		<span>&bullet;</span>
	</div>
</section>