<div class="logo text-center">
	<!-- build:template:dist
	<a href="/" rel="nofollow">
	/build -->
	<!-- build:remove:dist -->
	<a href="/page-about.html" rel="nofollow">
	<!-- /build -->
		<h2>Jaylyn Dawson</h2>
		<h4>UX Designer</h4>
	</a>
</div>